@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inputStyle {
  border: 1px solid #85a0c9;
  width: 120px;
  height: 30px;
}

/* Cambia el ancho para pantallas de 540px o más */
@media (min-width: 540px) {
  .inputStyle {
      width: 375px; /* Ajusta este valor según tus necesidades */
  }
}

